<p>login works!</p>
<form (ngSubmit)="login()">
    <div>
        <label for="username">Username:</label>
        <input type="text" id="username" [(ngModel)]="currentUser.username" name="username" required>
    </div>
    <div>
        <label for="password">Password:</label>
        <input type="password" id="password" [(ngModel)]="currentUser.password" name="password" required>
    </div>
    <button type="submit">Login</button>
</form>
<p>{{currentUser.username}}</p>
<p>{{currentUser.password}}</p>