<div class="d-flex align-items-center justify-content-center" >
<div class="container row justify-content-center">
    <form style="max-width: 450px; ">
    <div class="mb-3">
      <label for="name" class="form-label">Name:</label>
      <input type="text" class="form-control" [(ngModel)]="userId" name="userId" placeholder="Enter your name" required>
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">Password:</label>
      <input type="password" class="form-control" [(ngModel)]="password" name="password"  placeholder="Enter your password" required>
    </div>
    <button   type="button" class="btn btn-primary" (click)="loginAsUser()">Login as User</button>
    &nbsp;
    <button type="button" class="btn btn-primary" (click)="loginAsAdmin()">Login as Admin</button>

        <div *ngIf="errorString"  class="mb-3 my-2">
            <div class="alert alert-danger" role="alert">
                Error message: {{errorString}}
            </div>
          </div>
</form>

</div> 
</div>
